NET "sysclk" LOC = "C9";

NET "color[2]" LOC = "H14" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "color[1]" LOC = "H15" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "color[0]" LOC = "G15" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "hsync" LOC = "F15" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "vsync" LOC = "F14" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;


NET "east" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "west" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
NET "north" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN;
NET "south" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "auto" LOC = "N17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "switch" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
